name: Deploy to Elastic Beanstalk

on:
  push:
    branches:
      - main  # Change this to the branch you want to

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin' 

    - name: Build with Maven
      run: mvn clean package

    - name: Deploy to Elastic Beanstalk
      uses: einaregilsson/beanstalk-deploy@v21
      with:
        aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        application_name: "Jobs-api-aws-ebs"  # Replace with your app name
        environment_name: "Jobs-api-aws-ebs-env"  # Replace with your environment name
        version_label: "v${{ github.run_id }}"  # Unique version label
        region: "eu-north-1"  # Replace with your AWS region
        zip_file: "target/JobsApi-0.0.1-SNAPSHOT.jar"  # Replace with the path to your jar file
